<div class="popup-box-wrapper" >
	<div class="popup-box popup-config-box box" data-id="box" >
		<div class="inner" >
			<header >
				<h1 data-id="title" class="title" ></h1>
			</header>
			<br />
			<div class="content" >
				<textarea name="" id="" rows="" cols="" tabindex=""></textarea>
			</div> 
			<div class="footer">
				<a data-id="cancel" class="btn btn-primary" >取消</a>
				<a data-id="accept" target="_blank" style="display:none;" class="btn btn-primary" >确认</a>
			</div> 
		</div>
	</div> 
</div> 
