<div class="rectMark" >
	<div class="comments-summary-box hover-action-box" >
		<ul data-id="comments-summary-list" >
		</ul>
		<template data-id="comments-summary-item-tpl" >
			<li >
				<img class="avatar" data-id="avatar" />
				<div >
					<img src="/static/core/img/icon-reply.png"  />
					<span class="reply-num" data-id="reply-num" >20</span>
				</div>
				<div >
					<img src="/static/core/img/icon-vote-up.png"  />
					<span class="vote-up-num" data-id="vote-up-num" >30</span>
				</div>
			</li>
		</template>
	</div>
	<div class="ctr-btn-box dismiss-option-box" >
		<button class="dismiss-btn" data-id="dismiss" title="dismiss"><i class="icon-eye-open"></i></button>
		<button class="undismiss-btn" data-id="undismiss" title="undismiss"><i class="icon-eye-close"></i></button>
	</div>
	<div class="resizer" data-id="resizer" ></div>
</div>
