<div class="rectMark" >
	<div class="comments-summary-box hover-action-box" >
		<ul data-id="comments-summary-list" >
		</ul>
		<template data-id="comments-summary-item-tpl" >
			<li >
				<img class="avatar" data-id="avatar" />
				<div >
					<img src="/static/core/img/icon-reply.png"  />
					<span class="reply-num" data-id="reply-num" >20</span>
				</div>
				<div >
					<img src="/static/core/img/icon-vote-up.png"  />
					<span class="vote-up-num" data-id="vote-up-num" >30</span>
				</div>
			</li>
		</template>
	</div>
	<div class="ctr-btn-box hover-action-box" >
		<button data-id="move-to-bottom" title="move to bottom"><i class="icon-arrow-down"></i></button>
	</div>
	<div class="resizer" data-id="resizer" ></div>
</div>
