<div class="single-comment-item">
	<header class="single-comment-item-header" data-id="header" >
		<button class="back" data-id="back" title="Back to all comments" >Back</button>
	</header>
	<div class="inner" >
		<div class="comment" data-id="comment" >
			<header class="header-part" >
				<div class="vote-box" >
					<button class="vote-up" data-id="vote-up" >
						<i class="icon-caret-up"></i>
						<span class="vote-up-num" data-id="vote-up-num" >52341</span>
					</button>
					<button class="vote-down" data-id="vote-down" >
						<i class="icon-caret-down"></i>
					</button>
				</div>
				<p class="nickname" data-id="nickname"  >Roxasora</p>
				<p class="intro" data-id="intro" >user intro is here</p>
				<img class="avatar" data-id="avatar" src="/static/core/img/test-avatar.png"></img>
			</header>
			<section class="content real-content-section" data-id="content" >
			</section>
			<footer class="footer-part" >
				<span class="date" data-id="date" >2014-12-13</span>
				<span class="replys-num" data-id="replys-num" style="display:none;" >20 replys </span>
				<button class="reply-btn" data-id="reply-btn" title="reply to this comment">
					
					<i class="icon-reply"></i>
				</button>
			</footer>
		</div>
		<ul class="reply-list" data-id="reply-list" >
		</ul>
	</div>
	<template data-id="single-reply-li-tpl">
		<li class="single-reply-li"  >
			<img class="avatar" data-id="reply-avatar" src="/core/img/test-avatar.png" />
			<div class="content-wrapper" data-id="reply-content-wrapper" >
				<p class="nickname" data-id="reply-nickname" >Cloud</p>
				<section class="content real-content-section" data-id="reply-content" >
				</section>
				<footer >
					<span class="date" data-id="reply-date" >2014-12-13</span>
					<button class="reply-btn" data-id="reply-reply-btn" title="reply to this user">
						<i class="icon-reply"></i>
					</button>
					<button class="vote-up-btn" data-id="reply-vote-up" title="reply to this user">
						<i class="icon-thumbs-up-alt"></i>
						<b class="vote-up-num" data-id="reply-vote-up-num" >5</b>
					</button>
				</footer>
			</div>
		</li>
	</template>
</div>
