<div class="panel panel-primary paper-panel">
        <div class="panel-heading">
            <a href="#" class="paper-title"> {{papers['paperid']}} </a>
            <!--
            <i class="button mp-btn-paperPanel-collapse">fold</i>
        -->
        </div>
        <div class="panel-body paper-panel-body">
            <div class="panel-group">
                {% for mark in papers['marks'] %}
                <div class="panel panel-default one-paper-position-panel">
                    <div class="panel-heading">
                        <a href="#">
                            {{mark['markid']}}
                        </a>
                    </div>
                    <div class="panel-body">
                        <div class="myComments">
                            <span class="panel-comment-title">
                                My comments
                            </span>
                            <ul class="comment-list">
                                {% if len(mark['myComments']) <= 3 %}
                                {% for comment in mark['myComments'] %}
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">{{comment['comment_name']}}</a>
                                                <span>
                                                    commented {{ comment['comment_date']}}
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    {{comment['content']}}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% end %}
                                {% end %}
                                {% if len(mark['myComments']) > 3 %}
                                {% for comment in mark['myComments'][0:3] %}
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">{{comment['comment_name']}}</a>
                                                <span>
                                                    commented {{ comment['comment_date']}}
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    {{comment['content']}}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% end %}    
                                {% end %}
                            </ul>
                            {% if len(mark['myComments']) > 3 %}
                            <a href="" class="moreComments">……</a>
                            {% end %}
                        </div> 
                    </div>                 
                    <div class="otherComments">
                        <span class="panel-comment-title">
                            Other comments
                        </span>
                        <ul class="comment-list">
                            {% if len(mark['otherComments']) <=3 %}
                            {% for comment in mark['otherComments'] %}
                            <li>
                                <div class="avatar-holder well">
                                    <i class="icon-user"></i>
                                </div>
                                <div class="comment-body panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#" class="comment-name">{{comment['comment_name']}}</a>
                                        <span>
                                            commented {{comment['comment_date']}}
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#">
                                            {{comment['content']}}
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% end %}
                            {% end %}
                            {% if len(mark['otherComments']) >3 %}
                            {% for comment in mark['otherComments'][0:3] %}
                            <li>
                                <div class="avatar-holder well">
                                    <i class="icon-user"></i>
                                </div>
                                <div class="comment-body panel panel-default">
                                    <div class="panel-heading">
                                        <a href="#" class="comment-name">{{comment['comment_name']}}</a>
                                        <span>
                                            commented {{comment['comment_date']}}
                                        </span>
                                    </div>
                                    <div class="panel-body">
                                        <a href="#">
                                            {{comment['content']}}
                                        </a>
                                    </div>
                                </div>
                            </li>
                            {% end %}
                            {% end %}
                        </ul>
                        {% if len(mark['otherComments']) > 3 %}
                        <a href="" class="moreComments">……</a>
                        {% end %}
                    </div>
                </div>
                {% end %}
                
            </div>
        </div>
</div>
