<!DOCTYPE html>
<html>
<head>
    <title>markPaper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/common/common.css">
    <link rel="stylesheet" type="text/css" href="/css/basic/mp-index.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap3/css/font-awesome.min.css">
</head>
<body>
    <!--header-->
    <div class="navbar navbar-fixed-top navbar-inverse mp-nav" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">MarkPaper</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"> <a href="/home">Home</a> </li>
                    <li> <a href="/pdfview">PDFView</a> </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="mp-user-alert">
                            <i class="icon-bell-alt"></i>
                            <span class="badge">10</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="mp-user-nickName dropdown-toggle" data-toggle="dropdown">
                            {{nickname}} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu mp-user-dropdown">
                            <li> <a href="#"> <i class="icon-user"></i> person page </a> </li>
                            <li> <a href="#"> <i class="icon-cog"></i> setting </a> </li>
                            <li> <a href="/logout"> <i class="icon-signout"></i> logout </a> </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--body-->
    <div class="container mp-body">
        <div class="mp-body-header">
            <div class="input-group mbh-search-bar">
                <input type="text" class="form-control" placeholder="search what you've commented...">
                <a class="input-group-addon"> <i class="icon-search"></i> </a>
            </div>
            <a href="#" class="viewall">view all</a>
        </div>
        <br>
        
        <div class="mp-index-body">
            <div class="panel panel-primary paper-panel">
                <div class="panel-heading">
                    <a href="#" class="paper-title"> A paper </a>
                    <!--
                    <i class="button mp-btn-paperPanel-collapse">fold</i>
                -->
                </div>
                <div class="panel-body paper-panel-body">
                    <div class="panel-group">
                        <div class="panel panel-default one-paper-position-panel">
                            <div class="panel-heading">
                                <a href="#">
                                    one position in the essay
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="myComments">
                                    <span class="panel-comment-title">
                                        My comments
                                    </span>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="#" class="moreComments">……</a>
                                </div>
                            </div>
                            <div class="otherComments">
                                <span class="panel-comment-title">
                                    Other comments
                                </span>
                                <ul class="comment-list">
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">roxasora</a>
                                                <span>
                                                    commented 2014.04.01
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default one-paper-position-panel">
                            <div class="panel-heading">
                                <a href="#">
                                    another position in the essay
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="myComments">
                                    <span class="panel-comment-title">
                                        My comments
                                    </span>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="otherComments">
                                <span class="panel-comment-title">
                                    Other comments
                                </span>
                                <ul class="comment-list">
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">roxasora</a>
                                                <span>
                                                    commented 2014.04.01
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary paper-panel">
                <div class="panel-heading">
                    <a href="#" class="paper-title">
                        B paper
                    </a>
                </div>
                <div class="panel-body paper-panel-body">
                    <div class="panel-group">
                        <div class="panel panel-default one-paper-position-panel">
                            <div class="panel-heading">
                                <a href="#">
                                    one position in the essay
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="myComments">
                                    <span class="panel-comment-title">
                                        My comments
                                    </span>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="#" class="moreComments">……</a>
                                </div>
                            </div>
                            <div class="otherComments">
                                <span class="panel-comment-title">
                                    Other comments
                                </span>
                                <ul class="comment-list">
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">roxasora</a>
                                                <span>
                                                    commented 2014.04.01
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel panel-default one-paper-position-panel">
                            <div class="panel-heading">
                                <a href="#">
                                    another position in the essay
                                </a>
                            </div>
                            <div class="panel-body">
                                <div class="myComments">
                                    <span class="panel-comment-title">
                                        My comments
                                    </span>
                                    <ul class="comment-list">
                                        <li>
                                            <div class="avatar-holder well">
                                                <i class="icon-user"></i>
                                            </div>
                                            <div class="comment-body panel panel-default">
                                                <div class="panel-heading">
                                                    <a href="#" class="comment-name">roxasora</a>
                                                    <span>
                                                        commented 2014.04.01
                                                    </span>
                                                </div>
                                                <div class="panel-body">
                                                    <a href="#">
                                                        This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="otherComments">
                                <span class="panel-comment-title">
                                    Other comments
                                </span>
                                <ul class="comment-list">
                                    <li>
                                        <div class="avatar-holder well">
                                            <i class="icon-user"></i>
                                        </div>
                                        <div class="comment-body panel panel-default">
                                            <div class="panel-heading">
                                                <a href="#" class="comment-name">roxasora</a>
                                                <span>
                                                    commented 2014.04.01
                                                </span>
                                            </div>
                                            <div class="panel-body">
                                                <a href="#">
                                                    This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--footer-->
    <div class="mp-footer">
        <div class="container">
            <ul class="mp-footer-list">
                <li>@MarkPaper</li>
                <li>
                    <a href="#">someLinks</a>
                </li>
                <li>
                    <a href="#">someLinks</a>
                </li>
                <li>
                    <a href="#">someLinks</a>
                </li>
                <li>
                    <a href="#">someLinks</a>
                </li>
            </ul>
            <ul class="mp-footer-list">
                <li>
                    <a href="#">someLinks</a>
                </li>
                <li>
                    <a href="#">someLinks</a>
                </li>
                <li>
                    <a href="#">someLinks</a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/css/bootstrap3/js/bootstrap.min.js"></script>
</body>
</html>
